# Documentation directories
/docs/AIIntegration/
/docs/KnowledgeGraphs/
/docs/LLMIntegration/
/docs/Phase3Completion.md
/docs/Phase4Planning.md
/docs/Phase5Plan.md
/docs/Phase4Summary.md
/docs/Phase4Progress.md


# Development environments
.idea/
.venv/

# Python cache
__pycache__/

# IDE cache
.vscode/

# Build output
